body {
    margin: 0;
}

header a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;
    color: gray;
    padding: 8px;
}

header a:hover {
    color: white;
    transition: all 0.5s ease;
}

#navbar {
    background-color: rgb(19, 19, 19);
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 0 10px 0;
}

#babel {
    float: left;
    padding-left: 20px;
}

.enlaces {
    float: right;
    margin-right: 20px;
}

#fondo {
    background-image: url(../images/bosque.jpg);
    background-position: center;
    background-size: cover;
    padding: 20%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin: none;
}

.boton a {
    font-family: sans-serif;
    font-size: small;
    color: white;
    border: solid;
    padding: 10px;
}

.boton a:hover {
    transition: all 0.5s ease;
    background-color: white;
    color: gray;
}

#about {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.story {
    padding: 2rem;
}

.row {
    max-width: 60rem;
    margin: 0 auto;
}

.texto {
    text-align: center;
    font-family: sans-serif;
    margin: 0 15% 0 15%;
    text-align: center;
}

#titulo-team {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 150px;
}

.team {
    padding: 0 0 1.5rem 0;
}

.lineas {
    width: 150px;
    background-color: black;
}

.persona {
    width: 33.33%;
    float: left;
    padding: 1.5rem 0 1.5rem 0;
}

.imagen-persona {
    text-align: center;
}

.puesto {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
}

.cabecera {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    font-style: italic;
    padding: 10px 0 10px 0;
}

.servicio {
    padding: 1rem 1rem;
    margin: 0 auto;
}

.imagen {
    margin: 1rem auto;
    text-align: center;
}

.servicio h4 {
    font-size: 1.5rem;
    text-align: center;
}

.texto {
    margin: 0 auto;
    width: 100%;
}

.s_texto p {
    display: none;
    padding-top: 1rem;
    text-align: center;
}

.fondo {
    background-color: #f2f2f2;
}

.titulo {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.input {
    display: block;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    color: #999999;
    font-size: .9rem;
}


/* mediaquery desktop */

@media (min-width: 62em) {
    .mqdesktop-3 {
        width: 33.33%;
    }
    .mqdesktop-2 {
        width: 50%;
        display: inline-block;
    }
    .mqdesktop-2-a {
        width: 50%;
        float: left;
    }
    .mqdesktop-2-b {
        width: 50%;
    }
}

.formulario form {
    margin: 0 auto;
}

.formulario {
    margin: 3rem auto;
    padding: 3rem;
    float: left;
}

:placeholder-shown {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    color: #999999;
    font-size: .9rem;
}

input {
    border-bottom: .1rem solid ·#cccccc;
    border-top: white;
    border-left: white;
    border-right: white;
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 2rem;
}

label {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
    color: #999999;
    font-size: .9rem;
    margin-top: 2rem;
}

textarea {
    margin-top: 1rem;
    border: .1rem solid #cccccc;
    width: 100%;
    resize: none;
}

.info {
    margin: 3rem auto;
    padding: 3rem;
    font-family: sans-serif;
}

.contactos {
    margin: 3rem auto;
}

.info p {
    color: #828282;
    line-height: 1.3rem;
}

.info p a {
    text-decoration: none;
    color: #828282;
}

footer {
    background-color: black;
    color: white;
}

.social {
    margin: 5%;
}

.social ul li {
    display: inline-flex;
}

.social ul li a {
    font-size: 1rem;
    text-decoration: none;
    width: 3rem;
    padding: 1rem;
    display: inline-block;
    margin: 0.5rem;
    color: white;
}

.copy {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}